numpy
pandas
geopandas
shapely
pyproj
matplotlib
census
os
numpy
zipfile
seaborn 
shapely.geometry 
folium
shapely.wkb
request
plotly.express
json

PROJECT_CRS = "EPSG:26910"  # UTM Zone 10N (Bay Area)
